<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokémon Team Generator</title>
</head>
<body>
  <form action="/generate" id="form" class="form" method="GET">
    <button type="submit" class="form-submit">Go</button>
  </form>
  <% if(locals.data) { %>
    <ul id ="pokemonList">
      <% data.forEach((pokemon) => { %>
        <li><%= pokemon.name %>, 
          <% if(pokemon.spriteURL == null) { %>
            No sprite available
          <% } else { %>
            <img src="<%= pokemon.spriteURL %>">
          <% } %>
        </li>
      <% }); %>
    </ul> 
  <% } %>
</body>
</html>